*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
background-color: #060A2B;
}

body, input, select, textarea, button {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'VT323', monospace;
  letter-spacing: 1px;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #F1DA27;
}

#nprogress .spinner-icon {
  display: none;
}
